<!DOCTYPE html>
<html lang="ja">
<head>
  <title>百人一首暗記試験</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet" />
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <!-- template for the modal component -->
  <script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper" @click="$emit('close')">
          <slot name="container"></slot>
        </div>
      </div>
    </transition>
  </script>

  <div id="app" v-cloak>
    <modal v-if="showModal" @close="closemodal">
      <div slot="container" class="modal-container">
        <h3>{{judge ? "正解" : "不正解"}}</h3>
        {{quiz.yomikami}}<br>
        {{quiz.yomisimo}}<br><br>
        {{record.results[record.results.length-1].elapsed/1000}}秒
      </div>
    </modal>

    <modal v-if="showStart">
      <div slot="container" class="start-container">
        <h3>百人一首</h3>
        <button @click="closestart">はじめから</button><br>
        <button @click="closestart">つづきから</button><br>
      </div>
    </modal>

    <div class="score">
      問題：{{record.results.length + 1}} ｜ 正解：{{record.results.filter(r=>r.judge==true).length}}/{{record.results.length}}
    </div>
    <div class="kami">{{quiz.yomikami}}</div>
    <div v-for="(card,grid) in stage" class="carta" :id="grid" @click="toru">
      {{card.hirasimo}}
    </div>

    <div>
      <button id="100" @click="toru">スキップ</button>
      <button @click="showStart=true">メニュー</button>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="mondai.js"></script>
  <script src="main.js"></script>
</body>
</html>
