<!DOCTYPE html>
<html lang="ja">
<head>
  <title>百人一首暗記試験</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet" />
  <link href="main.css" rel="stylesheet">
</head>
<body>
  <!-- component template -->
  <script type="text/x-template" id="grid-template">
    <table>
      <thead>
        <tr>
          <th v-for="key in columns"
            @click="sortBy(key)"
            :class="{ active: sortKey == key }">
            {{ key | capitalize }}
            <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="entry in filteredData">
          <td v-for="key in columns">
            {{entry[key]}}
          </td>
        </tr>
      </tbody>
    </table>
  </script>

  <div id="app" v-cloak>
    <transition name="modal" v-if="showModal">
      <div class="modal-mask">
        <div class="modal-wrapper" @click="closemodal">
          <div slot="container" class="modal-container">
            <h3>{{judge ? "正解" : "不正解"}}</h3>
            {{cards[quiz.cardno].yomikami}}<br>
            {{cards[quiz.cardno].yomisimo}}<br><br>
            {{quiz.cardno+1}}&nbsp;
            {{cards[quiz.cardno].hito}}<br><br>
            {{record.results[0].elapsed}}秒
          </div>
        </div>
      </div>
    </transition>

    <transition name="modal" v-if="showStart">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="start-container">
            <h3>百人一首</h3>
            <button id="reset" @click="closestart">はじめから</button><br>
            <br>
            <button id="start" @click="closestart">つづきから</button><br>
            <br>
            <demo-grid
              :data="record.results"
              :columns="gridColumns"
              :filter-key="searchQuery">
            </demo-grid>
          </div>
        </div>
      </div>
    </transition>

    <div class="score">
      問題：{{record.index - record.stage_maisu + 1}} ｜ 正解：{{record.results.filter(r=>r.judge==true).length}}/{{record.results.length}}
    </div>
    <div class="kami">{{cards[quiz.cardno]?cards[quiz.cardno].yomikami:""}}</div>
    <div>
      <div v-for="(card,grid) in record.stage" class="carta" :id="grid" @click="toru">
        {{cards[card.cardno].hirasimo}}
      </div>
    </div>
    <div>
      <button style="width:100%" id="100" @click="toru">スキップ</button>
      <br><br><button @click="showStart=true">メニュー</button>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="mondai.js"></script>
  <script src="main.js"></script>
</body>
</html>
